#marketprice-container,#marketprice-container tr th,td{
    border:solid black 1px;
    border-collapse: collapse;
}

#marketprice-container th{
    text-align: center;
}
#marketprice-container td{
    text-align: left;
}
